.render_horizontalslider h2 {
	margin: 0px 0 20px 0;
	padding: 0;
	font-size: 1.6em;
}

.sample {
	margin: 30px;
	border: 1px solid #92cdec;
	background: #d7e7ff;
	padding: 30px
}

/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */
.render_horizontalslider {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: inherit;
}

.render_horizontalslider dt,.render_horizontalslider dd {
	margin: 0;
	padding: 0
}

.render_horizontalslider dt,.render_horizontalslider dd {
	position: absolute
}

.render_horizontalslider dt {
	margin-bottom: 0;
	margin-left: 0;
	z-index: 5; /* Safari */
	-webkit-transform: rotate(-90deg); /* Firefox */
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: 20px 0px; /* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
	cursor: pointer;
}

.render_horizontalslider dd {
	z-index: 1;
	opacity: 0;
	overflow: hidden;
}

.render_horizontalslider dd.no-more-active {
	z-index: 2;
}

.render_horizontalslider dd.active {
	z-index: 3;
	background-color: inherit;
	opacity: 1;
}

.render_horizontalslider dd.plus {
	z-index: 4
}

.render_horizontalslider .slide-number {
	position: absolute;
	bottom: 0;
	left: 10px;
	font-weight: normal;
	font-size: 1.1em; /* Safari */
	-webkit-transform: rotate(90deg); /* Firefox */
	-moz-transform: rotate(90deg); /* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
}

/* FEEL FREE TO CUSTOMIZE THE FOLLOWING RULES */
dd p {
	line-height: 120%
}

.render_horizontalslider {
	width: 500px;
	height: 270px;
	padding: 30px;
	background: #fff;
	border: 1px solid black
}

.render_horizontalslider h2 {
	font-size: 2.5em;
	margin-top: 10px
}

.render_horizontalslider dl {
	width: 500px;
	height: 270px;
	border: thin solid black;
	position: absolute;
	top: 0;
	left: 0px;
}
#screen_main_popups_popup_SearchTableAddFilter_levels_dl_0_dd{
	height:100%;
	overflow: auto;
}
.render_horizontalslider dt {
	border: 3px solid;
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	height: 36px;
	letter-spacing: 1px;
	line-height: 24px;
	margin-top: 33px;
	padding: 10px 16px 0 0;
	text-align: center;
}

.render_horizontalslider dt.active {
	cursor: pointer;
}

.render_horizontalslider dt.hover {
	color: blue;
}

.render_horizontalslider dt.active.hover {
	color: blue;
}

.render_horizontalslider dd {
	border-left: 0 none;
	margin-top: 1px;
	padding: 15px;
}

.render_horizontalslider .slide-number {
	font-size: 11px;
	left: -3px;
}

.render_horizontalslider a {
	color: #68889b
}

/***************************SearchTableAddFilter CSS - Feel free to change this code*****************************/
.class_SearchTableAddFilterLevel {
	width: 100%;
	height: 100%;
	align: left;
	background-color: white;
	overflow: auto;
}

.class_SearchTableAddFilterLevel .area_main{
	width: 100%;	
}

#screen_main_popups_popup_SearchTableAddFilter_main_top_1{
	width: 10%;	
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-right:1em;
}

#screen_main_popups_popup_SearchTableAddFilter_main_top{
	width: 100%;
}

#screen_main_popups_popup_SearchTableAddFilter_pathCarried_content{
	width: 90%;	
}